
<div class="alert alert-warning alert-dismissible fade show" role="alert"><strong></strong></div>
<button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
<div class="alert alert-warning alert-dismissible fade show" role="alert"><strong></strong></div>
<button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
<div class="alert alert-warning alert-dismissible fade show" role="alert"><strong></strong></div>
<button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>